.btn-blue {
	background-color: #B3E5BE;
	padding: 27px 30px;
	border-radius: 6px;
	color : white;
	font-weight: bold;
	font-family: 'Roboto', sans-serif;
}

.btn-blue:hover {
	background-color: black;
	color: white;
}